.App {
  color: white;
}

footer {
  background: rgba(255, 255, 255, 0.01);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  text-shadow: 0 0 4px rgba(0, 0, 0, .2);

  & p {
    margin: 0.5em;
    font-size: 9px;
    text-align: center;
  }
}
